
    
    <ul>      
      <li><a href="/order" >Order Now!</a></li>
      <li><a href="/about" >About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/employment" data-scroll>Get Hired!</a></li>
      <li><a href="/investor" >Investors</a></li>
      
      <button class="closeBtn" onclick="closeNav()" >Close</button>
    </ul>
    
  