
<style>
  .image-module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px; /* Initial height */
    overflow: hidden;
     
  }

  .image-module img {
    width: 30%; /* Adjust width as needed */
    height: auto;
    border: 1px solid #888;
    border-radius: 10px;   
  }

  .image-module img:hover {
    transform: scale(1.2);
  }
</style>

<h3>Add these popular offers:</h3>
<div class="animate__duration-10s animate__slow image-module animate__animated animate__fadeInRight">
  <img src="images/deli-sandwich.jpg" alt="Image 1">
  <img src="images/chocolate smoothie2.jpg" alt="Image 2">
  <img src="images/side-dishes.jpg" alt="Image 3">
</div>


