<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Genie | For a better Restaurant site</title>
        <meta name="description" content="Welcome to Food Genie, your one stop for the best cuisine in town. Enjoy a diverse menu of appetizers, main courses, desserts, and more. Order now!">
        <meta name="keywords" content="Restaurant advertising, local restaurant promotion, culinary marketing, SEO for restaurants, targeted audience engagement, online restaurant visibility, menu promotion, reservation platform, delivery service promotion, revenue increase strategies, customer engagement platform, culinary showcase, local dining discovery, online ordering platform, restaurant growth solutions">
        
        <!-- Bootstrap CSS -->
        <!-- Include Bootstrap CSS here if used -->
        <link rel="icon" type="image/png" href="" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="/styles/style.food.css" rel="stylesheet">
    </head>
    
<body>
    
        
        <div><%- include('components/header2.ejs') %></div>
     
      
        <div><%- include('components/hero2.ejs') %>        
        </div>

        <div>
           
        </div>


        <div><%- include('components/footer.ejs') %></div>  
    
    
    
</body>
<script src="js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>


</html>
