/* Reset CSS */
html,

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #000000; /* Adjust background color */
  color: #c2c2c2; /* Adjust text color */
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Paragraphs */
p {
  margin-bottom: 20px;
}

/* Links */
a {
  color: #007bff; /* Adjust link color */
  text-decoration: none;
  transition: color 0.3s ease; /* Add smooth transition */
}

a:hover {
  color: #0056b3; /* Adjust hover color */
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9100; /* Adjust button color */
  color: #fff; /* Adjust text color */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition */
}

.button:hover {
  background-color: #b30000; /* Adjust hover color */
}

@media screen and (min-width: 768px) {

  .hamburger {
    display:none;
  }
  }

  @media screen and (max-width: 768px) {

    .menu {
      display:none;
    }
    }
  